/*-------------------------------
		 MAIN STYLES
--------------------------------*/

/*-----------header------------*/

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: 'Roboto', 'Open Sans', sans-serif; 
	background-color: lavender;
}

header {
	position: relative;
	margin-top: 0;
	height: 13em;
	width: 100%;
	background-color: lightgray;
}

ul {
  margin: 0;
}

.nav-toggle {
	position: absolute;
	top: 1em;
	left: 2.5em;
    margin-top: 
}

.user-image {
	position: absolute;
	top: 5em;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 6em;
	border-radius: 50%;
}

.user-name {
    font-size: 1.4em;
	position: absolute;
	top: 6em;
    text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bell-icon {
	position: absolute;
	top: 1em;
	right: 2.5em;
}


/*----------upper nav----------*/

/* nav display none */

.active li {
  display: none;
}

/* nav display when menue icon clicked */

.activeclicked {
  padding-top: 3.5em;
  margin: 0em;
  background-color: darkgray;
  transition-duration: 0.8s;
  transition-property: ;
}

.activeclicked li {
  list-style: none;
  padding-bottom: 1em;
}

.activeclicked img {
  width: 1.2em;
}

/*---------side nav-----------*/

.side-nav {
	position: fixed;
	z-index: 1;
	top: 30vh;
	left: 0;
	width: 6em;
	height: 100vh;
	background-color: beige;
}

.side-nav ul {
  list-style: none;
}

/*-------main content---------*/

.search, main-heading, {
  display: inline-block;
}

h3 {
  font-size: 1em;
  float: left;
  margin: 0.8em 0 1em 1em;
}

.search {
  float: right;
  margin: 0.7em 1em 1em 0;
}

h4 {
  float: left;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 3em 0 1em 1em;
}

.alert {
  position: absolute;
  top: 16.3em;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  min-height: 4vh;
  max-height: 6vh;
  background-color: red;
  border-radius: 0.5em;
}

.alert span a {
  float: right;
  margin: 0.2em 0.5em 0 0;
  text-decoration: none;
  color: black;
  padding: 1px;
}

.charts {
  width: 90vw;
  margin: 10em auto;
  border: 1px solid black;
}
/*-------alert close-------*/

.alertclose {
  display: none;
}

/*-------------------------------
		 Media queries
--------------------------------*/

@media screen and (min-width: 320px) {
  .side-nav {
    display: none;
  }
 
}

@media screen and (min-width: 768px) {

   .side-nav {
     display: none;
  }
}

@media screen and (min-width: 1024px) {
  
  .side-nav {
    display: inline-block;
  }
}